@CHARSET "UTF-8";

a, u {
    text-decoration: none;
    color: #142522;
    cursor: pointer;
}

p {
    margin: 0px;
}

h1 {
    font-size: inherit;
}

textarea {
    resize: vertical;
}

body {
    color: #142522;
    font-size: 14px;
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.headerTopBar,
.headerTopBar a {
    color: #157f15;
}

.navbar-default {
    background-color: #157f15;
    width: 100%;
}

.navbar-collapse {
    overflow: hidden;
}

.navbar-header img {
    height: 50px;
}

.nav > li.hideElement {
    display: none;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 50px;
}

.headerTopBar .navbar-nav li  a {
    line-height: 60px;
}

.headerTopBar .navbar-nav li  a:HOVER,
.headerTopBar .btn-primary:HOVER {
    color: #157f15;
    background-color: rgba(19, 162, 19, 0.13);
}

.navbar-collapse {
    z-index: 9999;
    padding: 0px;
}

.navbar-right {
    margin: 0px;
}

.showPageIntroBar {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 100%;
    z-index: 998;
    background-color: rgba(255, 255, 255, 0.85);
}

#stickHeaderBarOnTheTop {
    position: fixed;
    top: 0px;
    z-index: 999;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.carousel {
    padding: 0px;
}

.carousel h3 {
    margin: 0;
    color: inherit;
    font-size: 1.8em;
}

.carousel .item {
    background: #142522;
    height: 350px;
}

.carousel-inner > .item > a > img {
    height: 100%;
    width: 100%;
    margin: auto;
}

.detailBoxImg {
    width: 100%;
    margin: auto;
}

.carousel .carousel-caption {
    text-shadow: -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000;
}

.reviewPreviewLayout {
    padding: 15px 0px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.reviewPreviewArea {
    overflow: hidden;
    height: 6em;
    float: none;
    display: inline-block;
}

.reviewPreviewArea .carousel-caption {
    position: static;
    color: inherit;
    padding: 0;
    text-shadow: none;
}

.anchorParent {
    position: relative;
}

.anchor {
    position: absolute;
    top: -110px;
}

.titleLayout {
    border-bottom: 1px solid #B9B9B9;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 2.3em;
}

.titleLayout h1 {
    margin: 0;
    padding: 10px;
}

.displayOnCenter {
    float: none;
    display: inline-block;
    padding: 0.5%;
    margin: auto;
}

.presentationBox {
    /*border-bottom: 1px solid #B9B9B9;*/
}

.presentationBox .caption {
    height: 11em;
    overflow: hidden;
}

.presentationBox .carousel-indicators,
.presentationBox .carousel-control {
    display: none;
}

.presentationBox .carousel-inner > .item > a > img {
    width: 90%;
    margin: auto;
}

.articleTitle {
    padding: 30px 0px;
}

.articleTitle h3 {
    font-size: 1.4em;
    overflow: hidden;
    margin: 0px;
}

.articleTitle h3 span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;
}

.articleTitle h3 span:before,
.articleTitle h3 span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid gray;
}

.articleTitle h3 span:before {
    right: 100%;
}

.articleTitle h3 span:after {
    left: 100%;
}

.defaultArticle {
    margin: 10px 0px;
}

.socialButtons {
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    border-top: 1px solid #B9B9B9;
}

.socialButtons .buttonItem {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}

.socialButtons .g-plusone {
    width: 50px;
}

.banner {
    padding: 1%;
    margin: 20px 0px 0px 0px;
    background-color: #FCFAFA;
    overflow: hidden;
}

.banner h1 {
    font-size: 2em;
}

.banner p {
    font-size: 1.2em;
}

.banner img {
    margin-top: 10px;
    width: 100%;
}

footer {
    background-color: #142522;
    margin-top: 10px;
    padding: 30px 0px;
    color: #949494;
}

footer section,
footer section,
footer .row section {
    margin: 1% 0px;
    overflow: hidden;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.footerFeedback input,
.footerFeedback textarea,
.footerFeedback button {
    float: left;
    width: 100%;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    padding: 3px 12px;
}

.footerFeedback button,
.footerFeedback button:HOVER,
.footerFeedback button:FOCUS {
    border: 1px solid #cccccc;
}

.footerFeedback button:HOVER,
.footerFeedback button:FOCUS {
    background-color: #157f15;
}

.topBottomMargins {
    margin: 2% 0%;
}

.footerFeedback input:HOVER,
.footerFeedback input:FOCUS,
.footerFeedback textarea:HOVER,
.footerFeedback textarea:FOCUS {
    background-color: white;
    color: black;
}

.footerFeedback form {
    width: 100%;
}

footer a {
    color: #a3a5a0;
}

footer a:HOVER {
    color: white;
}

.gradientFromWhiteToTransparent {
    position: relative;
    overflow: hidden;
}

.gradientFromWhiteToTransparent:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 0.93) 9%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 47%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(255, 255, 255, 1)), color-stop(9%, rgba(255, 255, 255, 0.93)), color-stop(46%, rgba(255, 255, 255, 0)), color-stop(47%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 0.93) 9%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 47%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 0.93) 9%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 47%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 0.93) 9%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 47%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 0.93) 9%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 47%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.pageIntro {
    font-size: 3.2em;
    line-height: normal;
    overflow: hidden;
    position: relative;
    min-height: 360px;
}

.pageIntro img {
    display: block;
    width: 100%;
}

.pageIntro h1 {
    text-shadow: -1px -1px 3px #fff,
    1px -1px 3px #fff,
    -1px 1px 3px #fff,
    1px 1px 3px #fff;
}

.pageIntro .gradientFromWhiteToTransparent {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pageIntro .introContent {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 90%;
    margin: 2% 5%;
}

.pageIntro .btn-primary {
    font-size: 0.4em;
}

.showPageIntroBar .btn-primary {
    margin-top: -10px;
    font-size: 0.36em;
}

.areaToBeHided {
    display: none;
}

.photoAlbum {
    max-width: 320px;
    margin: 5px;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 0px 3px 5px rgba(34, 25, 25, 0.4);
    padding: 1%;
    display: inline-block;
    column-break-inside: avoid;
}

.photoAlbum img {
    max-width: 100%;
    max-height: 320px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.photoAlbum figcaption {
    font-size: .85em;
}

#attractionsContent {
    position: relative;
}

.defaultArticleText {
    padding: 0 5% 20px 5%;
}

.hideFigCaption figcaption {
    display: none;
}

.trailDescription {
    margin: 30px 6%;
    font-size: 1.1em;
}

.iframe {
    width: 100%;
    height: 500px;
}

.trailIndicators p {
    font-size: 1.2em;
    padding: 10px 20px;
    display: inline-block;
}

form {
    float: none !important;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 1%;
}

.listOfItems {
    margin: 2% 0;
}

.listOfItems span {
    font-size: 1.4em;
}

.lookLikeLink {
    color: #3071a9
}

.input-group-addon {
    background-color: transparent;
    color: inherit;
}

.btn-primary {
    text-shadow: none;
    color: white;
    border: 0px;
    background-color: #157f15;
    border-radius: 0px;
}

.btn-primary:HOVER,
.nav > li > a:HOVER,
.navbar-default .navbar-nav > li > a:HOVER {
    cursor: pointer;
    background-color: #142522;
    color: white;
}

header .btn-primary {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    border: 0px;
    background-color: transparent;
}

.defaultClickStyle:HOVER,
.defaultClickStyle:HOVER > a {
    background-color: #142522;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:FOCUS,
.navbar-default .navbar-nav > li > a:ACTIVE,
.btn-primary:FOCUS,
.btn-primary:ACTIVE,
.defaultClickStyle:ACTIVE,
.defaultClickStyle:FOCUS {
    outline: 0px;
    text-decoration: none;
}

.alert {
    margin: 0.5%;
}

.visibility-hidden {
    visibility: hidden;
}

/* MEDIA */
@media only screen and (max-width: 600px) {

    .pageIntro {
        font-size: 2.2em;
        min-height: 230px;
    }

    .showPageIntroBar .btn-primary {
        margin-top: -4px;
        font-size: 0.42em;
    }

    .pageIntro .introContent {
        width: 100%;
        margin: 0%;
    }

    .banner img,
    .pageIntro img {
        width: 140%;
    }

    .carousel .item {
        height: 200px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

    .pageIntro {
        font-size: 2.5em;
        min-height: 250px;
    }

    .showPageIntroBar .btn-primary {
        margin-top: -6px;
        font-size: 0.4em;
    }

    .banner img,
    .pageIntro img {
        display: block;
        width: 120%;
    }

    .carousel .item {
        height: 250px;
    }
}