<uib-carousel class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel"
              interval="section.carousel.timeInterval">
    <uib-slide ng-repeat="slide in section.carousel.slides"
               ng-init="otherPagePath=slide.page">
        <a ng-controller='GetOtherPageContentCtrl'
           href="{{otherPageContent.url.link}}"
           target="{{otherPageContent.url.openInNewTab ? '_blank' : '_self'}}"
           title="{{otherPageContent.url.textOnMouseOver}}"
           class="defaultClickStyle">
            <img alt="{{otherPageContent.presentation.title}}"
                 ng-src="{{otherPageContent.presentation.fullWidthImg}}">

            <div class="carousel-caption">
                <h3 ng-bind-html="otherPageContent.presentation.headline  | trustHtml"></h3>
                <p class="hidden-xs hidden-sm"
                   ng-bind-html="otherPageContent.presentation.description | trustHtml">
                </p>
                <p ng-if="otherPageContent.presentation.descriptionTitle" class="hidden-xs hidden-sm">
                    <span ng-bind-html="otherPageContent.presentation.descriptionTitle | trustHtml"></span>
                </p>
            </div>
        </a>
    </uib-slide>
</uib-carousel>
<div style="clear:both"></div>