<script id="headerMenuTemplateId" type="text/x-jQuery-tmpl">
    <ul class="nav navbar-nav">
        <li><a href="index.html?lang=ro#firstSectionTitle" data-toggle="collapse" data-target=".navbar-collapse.in">${firstSectionTitleText}</a></li>
        <li><a href="index.html?lang=ro#secondSectionTitle" data-toggle="collapse" data-target=".navbar-collapse.in">${secondSectionTitleText}</a></li>
        <li><a href="index.html?lang=ro#thirdSectionTitle" data-toggle="collapse" data-target=".navbar-collapse.in">${thirdSectionTitleText}</a></li>
    </ul>
</script>