<div class="socialButtons">
    <div class="buttonItem">
        <span class="fb-share-button" data-href="http://www.casapetrirosiamontana.ro/{{pageContent.url.link}}"
              data-layout="button"
              data-size="large" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.casapetrirosiamontana.ro%2Fen%2Fhome&amp;src=sdkpreparse"></a>
        </span>
    </div>

    <div class="buttonItem">
        <span class="fb-like" data-href="https://www.facebook.com/casapetrirosiamontana" data-layout="button"
             data-action="like" data-size="large" data-show-faces="true" data-share="false"></span>
    </div>

    <div class="buttonItem">
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <a class="twitter-share-button" data-size="large"
           href="https://twitter.com/intent/tweet?text=Visit%20Rosia%20Montana%20"></a>
    </div>

    <div class="buttonItem">
        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plus" data-action="share" data-annotation="none" data-height="30"
             data-href="http://www.casapetrirosiamontana.ro/{{pageContent.url.link}}"></div>
    </div>
    <div style="clear:both"></div>
</div>
<div style="clear:both"></div>