<script id="firstSectionTitleTemplateId" type="text/x-jQuery-tmpl">
    <div class="col-sm-12 col-lg-12 col-md-12 titleLayout">
        <span id="firstSectionTitle" class="anchor"></span>
        <h1><i class="${firstSectionIconFontAwesomeClass}"></i>&nbsp ${firstSectionTitleText}</h1>
    </div>
    <div style="clear:both"></div>



</script>

<script id="secondSectionTitleTemplateId" type="text/x-jQuery-tmpl">
    <div class="col-sm-12 col-lg-12 col-md-12 titleLayout">
        <span id="secondSectionTitle" class="anchor"></span>
        <h1><i class="${secondSectionIconFontAwesomeClass}"></i>&nbsp ${secondSectionTitleText}</h1>
    </div>
    <div style="clear:both"></div>



</script>

<script id="thirdSectionTitleTemplateId" type="text/x-jQuery-tmpl">
    <div class="col-sm-12 col-lg-12 col-md-12 titleLayout">
        <span id="thirdSectionTitle" class="anchor"></span>
        <h1><i class="${thirdSectionIconFontAwesomeClass}"></i>&nbsp ${thirdSectionTitleText}</h1>
    </div>
    <div style="clear:both"></div>



</script>

<script id="seeAlsoSectionTitleTemplateId" type="text/x-jQuery-tmpl">
    <div class="col-sm-12 col-lg-12 col-md-12 titleLayout">
        {{if seeAlsoSectionTitleText}}
            <span id="thirdSectionTitle" class="anchor"></span>
            <h1><i class="${seeAlsoIconFontAwesomeClass}"></i>&nbsp ${seeAlsoSectionTitleText}</h1>
        {{/if}}
    </div>
    <div style="clear:both"></div>



</script>