<script id="pageAdvertiseTemplateId" type="text/x-jQuery-tmpl">
    <div class="col-sm-12 col-lg-12 col-md-12 pageAdvertiserDefault defaultClickStyle" onclick="location.href='${destinationPageLink}'">
        <h1>
            {{html title}}
        </h1>
        <p class="lead">
            ${details}
        </p>
        <div class="gradientFromWhiteToTransparent">
            <img src="${backgrounddisplayOnShareImg}" alt="${details}">
        </div>
    </div>
    <div style="clear: both;"></div>



</script>